html {
    font-size: 16px;
    background: #FFFFF8;
}

body {
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    color: #4040A1;
}

a:hover {
    color: #C83349;
}

.link-list {
    list-style: none;
}

.link-list > li > a {
    text-decoration: none;
    color: #4040A1;
}

.link-list > li > a:hover {
    border-bottom: 1px solid #C83349;
    color: #C83349;
}

.home-greeting {
    margin: 1rem;
    border: 2px solid #4040A1;
    background-color: #D6D4E0;
}

.home-greeting h1 {
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
    color: #C83349;
}

.home-greeting p {
    font-size: 1.25rem;
    margin: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.card {
    border: 2px solid #4040A1;
    padding: 0rem;
    background-color: #D6D4E0;
}

.card h2 {
    text-align: center;
    margin: 0rem;
}

h2 > a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: #4040A1;
}

h2 > a:hover {
    color: #FFFFFF;
    background-color: #4040A1;
}