.navigation-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #4040A1;
}

.logo {
    display: flex;
    height: 4rem;
}

.logo img {
    height: 100%;
}

.logo h1 {
    font-family: 'Gwendolyn', cursive;
    margin: 0.5rem 1rem;
    font-size: 2.4rem;
    color: #4040A1;
}

nav {
    margin-left: auto;
}

.main-nav {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

.main-nav > li {
    margin-left: 1.5rem;
}

.current-page {
    color: #C83349;
    border-bottom: 1px solid #C83349;
}