.chapter {
    margin: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #4040A1;
    background: #D6D4E0;
}

.chapter > h1 {
    margin: 0rem;
    padding: 1rem;
    border-bottom: 2px solid #4040A1;
    background-color: #667292;
    color: #FFFFF8;
    text-align: center;
}

.chapter hr {
    margin: 1rem;
    border: 2px solid #667292;
}

.section-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.section-card-container .card {
    background: #FFFFF8;
}
.section {
    margin: 1rem;
}

.section h2 {
    margin: 0rem;
}

.section h3 {
    margin: 0.5rem;
    text-align: center;
    color: #4040A1;
}

.section p {
    margin: 0.5rem;
    align-items: flex-end;
    text-align: center;
}